@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

 body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

button:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(184, 14%, 56%);
    cursor: pointer;
}

.wrap_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrap_app .wrap_logo {
    padding-bottom: 50px;
}

.wrap_tip_calculator {
    background-color: hsl(0, 0%, 100%);
    height: 23.75rem;
    width: 43.75rem;
    border-radius: 15px;
    display: flex;
}

.wrap_calc {
    height: auto;
    width: 50%;
    margin-left:25px;
    margin-right:25px;
}


.wrap_app label {
    display: block;
    margin-bottom: 10px;
    color: hsl(184, 14%, 56%);
}

.wrap_app label:nth-child(2) {
  
    margin-top: 30px;
    
}
input[class=billInput]{
    width: 100%;
    height: 35px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    color: hsl(184, 14%, 56%);
    font-size: 20px;
    text-align: right;
}




.wrap_calc::before {
    content: '$';
    color: hsl(184, 14%, 56%);
    font-size: 20px;
    position: relative;
    top: 58px;
    left: 10px;
}

.rowSelectTip {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.btn_tip {
    background-color:  hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    width: calc(100% / 4);
    flex-grow: 1;
    height: 35px;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.customInput {
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    font-weight: bold;
    text-align: right;
} 

.rowPeople {
    margin-top: 35px;
}

.rowPeople::before {
    font-family: "FontAwesome";
    content: "\f007";
    color: hsl(184, 14%, 56%);
    font-size: 20px;
    position: relative;
    top: 58px;
    left: 10px;
}

input[class=peopleInput]{
    width: 100%;
    height: 35px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    color: hsl(184, 14%, 56%);
    font-size: 20px;
    text-align: right;
}


.wrap_result {
    background-color: hsl(183, 100%, 15%);
    height: auto;
    width: 50%;
    margin:15px;
    padding-left:25px;
    padding-right:25px;  
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rowTipAmount {
    display: flex;
    justify-content: space-between;
}
.title h3 {
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}
.title p {
    font-size: 11px;
    color: hsl(184, 14%, 56%);
}

.tipAmount h3 {
    color: hsl(185, 41%, 84%);
    font-size: 30px;
}

.btn_reset {
    background-color: hsl(186, 14%, 43%);
    border: none;
    height: 35px;
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
    font-weight: bold;
}

.btn_reset:hover {
    color: hsl(183, 100%, 15%);
}
/*Responsive*/

@media  screen and (max-width: 375px) {
    .wrap_tip_calculator {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        border-radius: 25px;
        padding-bottom: 25px;
        

    }

    .btn_tip {
        width: calc(100% / 3);
        height: 50px;
    }

    .btn_tip:hover {
        background-color: hsl(185, 41%, 84%);
    }

    .rowPeople {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .wrap_result {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .rowTipAmount {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

